<div align="center" id="imgContainer" style="display: none;"></div>
<div align="center" style="overflow: visible" id="adDiv">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Footer Ad -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-6599811543458266"
     data-ad-slot="1837032376"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script>
$('document').ready(function()
{
    var adElement = $('.adsbygoogle');
    var status = adElement.attr('data-adsbygoogle-status');

    if (adElement == null || status == null)
    {
        var container = $("#imgContainer")[0];
        var img = document.createElement('img');
        img.src = "/assets/images/noads.png";
        img.style = "border-radius: 5px;width: 728px;height: 90px;";
        container.style = "display: block;";
        container.appendChild(img);
    }
});
</script>
</div>