{% assign current = page.url | downcase | split: '/' %}
<style>
#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navItem {
    float: left;
}

#navItem > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navItem > a:hover {
    background-color: #111;
}
</style>
<ul id="navBar">
  <li id="navItem"><a href="/" {% unless current[1] %}class='active'{% endunless %}>Home</a></li>
  <li id="navItem"><a href="/leaderboards" {% if current[1] == 'leaderboards' %}class='active'{% endif %}>Leaderboards</a></li>
  <li id="navItem"><a href="/matches" {% if current[1] == 'matches' %}class='active'{% endif %}>Matches</a></li>
  <li id="navItem"><a href="/players" {% if current[1] == 'players' %}class='active'{% endif %}>Players</a></li>
  <li id="navItem"><a href="/contact" {% if current[1] == 'contact' %}class='active'{% endif %}>Contact</a></li>
</ul>
