<div class="row">
<table id="table_{{include.teamname}}" class="col s12 myTable highlight" style="width: 100%;">
	<thead>
		<tr class="header">
			<th style="text-align: center; width: 20%;">{{include.teamname | default:"Team Unknown"}}</th>
			<th style="text-align: center">Kills</th>
			<th style="text-align: center">Assists</th>
			<th style="text-align: center">Deaths</th>
			<th style="text-align: center">KAST</th>
			<th style="text-align: center">ADR</th>
			<th style="text-align: center">K/D Diff</th>
			<th style="text-align: center">Headshot %</th>
			<th style="text-align: center">Plants</th>
			<th style="text-align: center">Defuses</th>
			<th style="text-align: center">MVPs</th>
			<th style="text-align: center">HLTV</th>
		</tr>
	</thead>
	<tbody class="fullTable">
		{% for steamID in include.teamIDs %}
		{% assign sID = steamID | downcase %}
		{% assign player = include.players[sID] %}
		{% assign uid = player.UID %}
		{% assign name = player.Name %}
		{% assign extra = "" %}
		{% assign capt = "" %}
		{% if include.Captain == steamID %}
			{% capture capt %}
				<span class='imgHelper tooltip'><img class='captImage' src='/assets/images/captain.png' width='30' height='15'/><font style="font-size: 12px"></font><span class="tooltiptextTop">Team Captain</span></span>
			{% endcapture %}
		{% endif %}
		{% if include.FirstPick == steamID %}
			{% capture capt %}
				<span class='imgHelper tooltip'><img class='captImage' src='/assets/images/firstPick.png' width='15' height='15'/><font style="font-size: 12px"></font><span class="tooltiptextTop">First Pick</span></span>
			{% endcapture %}
		{% endif %}
		{% for dc in include.disconnects %}
			{% if dc[0] == sID %}
				{% capture extra %}
					<span class='imgHelper tooltip'><img class='dcImage' src='/assets/images/dc.png' width='15' height='15'/><font style="font-size: 12px"></font><span class="tooltiptextTop">Left on Round #{{dc[1]}}</span></span>
				{% endcapture %}
			{% endif %}
		{% endfor %}
		{% for rc in include.ringers %}
			{% if rc[0] == sID %}
				{% capture extra %}
					<span class='imgHelper tooltip'><img class='dcImage' src='/assets/images/ringer.png' width='15' height='15'/><font style="font-size: 12px"></font><span class="tooltiptextTop">Joined on Round #{{rc[1]}}</span></span>
				{% endcapture %}
			{% endif %}
		{% endfor %}
		<tr>
			<!-- Name/Page Link -->
			<td markdown="span"><a href="/players/{{uid}}">{{name | default: "Unknown"}}</a>{{extra}}{{capt}}</td>
			<!-- Kills -->				
			<td markdown="span" style="text-align: center">{{player.Kills | default:"0"}}</td>
			<!-- Assists -->
			<td markdown="span" style="text-align: center">{{player.Assists | default:"0"}}</td>
			<!-- Deaths -->
			<td markdown="span" style="text-align: center">{{player.Deaths | default:"0"}}</td>
			<!-- KAST % -->
			{% assign totalRounds = player.Rounds | times: 1.0 %}
			<td markdown="span" style="text-align: center">{{player.KASTRounds | divided_by: totalRounds | times: 100 | round: 2}}%</td>
			<!-- ADR -->
			<td markdown="span" style="text-align: center">{{player.HealthDamage | plus: player.ArmorDamage | divided_by: totalRounds | round: 1}}
			<!-- K/D Diff -->
			{% assign kdDiff = player.Kills | minus: player.Deaths %}
			{% if kdDiff > 0 %}
				{% assign kdDiffClass = "kdDiffPositive" %}
				{% assign kdSign = "+" %}
			{% elsif kdDiff < 0 %}
				{% assign kdDiffClass = "kdDiffNegative" %}
				{% assign kdSign = "" %}
			{% else %}
				{% assign kdDiffClass = "kdDiffNone" %}
				{% assign kdSign = "" %}
			{% endif %}			
			<td markdown="span" style="text-align: center" class={{kdDiffClass}}>{{kdSign}}{{kdDiff | default:"0"}}</td>
			<!-- Headshot % -->
			{% assign kills = player.Kills | times: 1.0 %}
			<td markdown="span" style="text-align: center">{{player.Headshots | divided_by: kills | times: 100 | round: 2}}%</td>
			<!-- Plants -->
			<td markdown="span" style="text-align: center">{{player.Plants | default:"0"}}</td>
			<!-- Defuses -->
			<td markdown="span" style="text-align: center">{{player.Defuses | default:"0"}}</td>
			<!-- MVPs -->
			<td markdown="span" style="text-align: center">{{player.MVPRounds | default:"0"}}</td>
			<!-- HLTV -->
			<td markdown="span" style="text-align: center">{{player.HltvRating | default:"0"}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
