---
layout: default
type: Match
---
<style>
#matchHeaderContainer {
  background-image: url("/assets/images/maps/{{page.Map}}.jpg");
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto; 
  background-size: 100% auto;
  background-position: center; 
  border-radius: 8px;
}
#matchHeaderStats {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 8px;
}
#teamAHeader, #teamBHeader {
  margin-top: 30px;
  margin-bottom: 30px;
}
#mapName {
  margin-top: 15px;
}
.dcImage {
  padding: 0 0 0 0;
}
.imgHelper {
  padding: 0 0 0 0;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  float:right;
  margin-top: 3px;
  margin-bottom: -2px;
}
</style>
<div class="container">
<div class="row">
<header id="matchHeaderContainer">
  <div align="center" id="matchHeaderStats">
    {% if page.TeamA.RoundWins > page.TeamB.RoundWins %} 
      {% assign scoreAClass = "scoreWinner"%} 
      {% assign scoreBClass = "scoreLoser" %} 
    {% elsif page.TeamA.RoundWins < page.TeamB.RoundWins%} 
      {% assign scoreAClass="scoreLoser" %} 
      {% assign scoreBClass="scoreWinner" %} 
    {% else %} 
      {% assign scoreAClass="scoreTie" %} 
      {% assign scoreBClass="scoreTie" %} 
    {% endif %} 
    <div id="teamAHeader">
      <h3>{{ page.TeamA.Name | default: "Team A" }}</h3>
      <span style="font-size: 24px;font-weight:bold;" class="{{scoreAClass}}">{{page.TeamA.RoundWins}}</span>
    </div>
    <div id="teamStatsHeader">
      <h1 id="mapName">{{page.Map}}</h1>
      <br>
      {% assign monthString = page.Year | append: "-" | append: page.Month | append: "-" | append: page.Day | append: "T" | append: page.Hour | append: ":00:00" %}
      <h3>{{monthString | date: "%H"}}:00</h3>
      {{monthString | date: "%B "}}
        {% assign d = monthString | date: "%-d" %}
        {% case d %}
          {% when "1" or "21" or "31" %}{{ d }}st
          {% when "2" or "22" %}{{ d }}nd
          {% when "3" or "23" %}{{ d }}rd
          {% else %}{{ d }}th
        {% endcase %} 
        {{monthString | date: ", %Y"}}</br></br>
        {% if page.Valid == false %}
          <img src="/assets/images/invalid.png" width="15" height="15"/> <strong>This match is not counted towards players' global stats.</strong>
        {% endif %}
    </div>
    <div id="teamBHeader">
      <h3>{{ page.TeamB.Name | default: "Team B" }}</h3>
      <span style="font-size: 24px;font-weight:bold;" class="{{scoreBClass}}">{{page.TeamB.RoundWins}}</span>
    </div>
  </div>
</header>
</div>
{% assign rounds = page.Rounds %}
{% assign fp = page.Picks[0].Player %}
{% include teamstattable.html FirstPick=fp Captain=page.TeamA.Captain totalRounds=rounds players=page.Players teamIDs=page.TeamA.SteamIDs teamname=page.TeamA.Name disconnects=page.DisconnectedClients ringers=page.RingerClients %}
{% include teamstattable.html FirstPick=fp Captain=page.TeamB.Captain totalRounds=rounds players=page.Players teamIDs=page.TeamB.SteamIDs teamname=page.TeamB.Name disconnects=page.DisconnectedClients ringers=page.RingerClients %}

  <div class="row">
  <table class="col highlight s6 ot1">
    <caption><h2>Awards</h2></caption>
    {% for award in page.Awards %}
    <tr>
        <th style="text-align: center" class="tooltipped" data-position="top" data-delay="50" data-tooltip="{{award.Description}}">{{award.Title}}</th>
        {% if award.UID == empty %}
          <td style="text-align: center">N/A</td>
        {% else %}
          <td style="text-align: center"><a href="/players/{{award.UID}}">{{ award.Name | default: "N/A" }}</a></td>
        {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% assign capt1 = page.Captain1 | downcase %}
  {% assign capt2 = page.Captain2 | downcase %}
  <table class="col highlight s6 ot2">
    <caption><h2>Player Picks</h2></caption>
    <tr>
      <th style="text-align: center">#</th>
      <th style="text-align: center">Player</th>
      <th style="text-align: center">Captain</th>
    </tr>
    {% assign count = 1 %}
    {% for pick in page.Picks %}
      <tr>
        {% assign pid = pick.Player | downcase %}
        {% assign capt = pick.Captain | downcase %}
        <td style="text-align: center">{{count}}</td>
        <td style="text-align: center"><a href="/players/{{page.Players[pid].UID}}">{{page.Players[pid].Name}}</a></td>
        <td style="text-align: center;font-weight:bold;"><a href="/players/{{page.Players[capt].UID}}">{{page.Players[capt].Name}}</a></td>
      </tr>
      {% assign count = count | plus: 1 %}
    {% endfor %}
  </table>
</div>

  <div class="row">
    <table id="matrix" class="col s10 offset-s1">
      <caption><h2>Kill Matrix</h2></caption>
      <thead>
        <tr class="header" id="ignoreglobal">
          <th></th>
          {% for teamBPlayer in page.TeamB.SteamIDs %}
            {% assign teamBPlayerID = teamBPlayer | downcase %}
            {% assign uid = page.Players[teamBPlayerID].UID %}
            {% assign name = page.Players[teamBPlayerID].Name %}
            <th style="text-align: center"><a href="/players/{{uid}}">{{name}}</a></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for teamAPlayer in page.TeamA.SteamIDs %}
            {% assign teamAPlayerID = teamAPlayer | downcase %}
            {% assign uid = page.Players[teamAPlayerID].UID %}
            {% assign name = page.Players[teamAPlayerID].Name %}
            <tr id="ignoreglobal">
            <th style="text-align: right"><a href="/players/{{uid}}">{{name}}</a></th>
            {% for teamBPlayer in page.TeamB.SteamIDs %}
              {% assign teamBPlayerID = teamBPlayer | downcase %}
              <td style="text-align: center">{{page.Players[teamAPlayerID].KilledPlayers[teamBPlayerID] | default: 0}} : {{page.Players[teamBPlayerID].KilledPlayers[teamAPlayerID] | default: 0}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  var table = $('#awardTable').DataTable(
    {
      "paging":   false,
      "ordering": false,
      "info":     false,
      "searching":   false
    }
  );
</script>
<script>
$(document).ready(function() {
  var table = $('#matrix').DataTable(
    {
      "paging":   false,
      "ordering": false,
      "info":     false,
      "searching":   false
    }
  );
  
  $('#matrix tbody')
      .on( 'mouseenter', 'td', function () {
          var colIdx = table.cell(this).index().column;
          var rowIdx = table.cell(this).index().row;

          $( table.column( colIdx ).nodes() ).addClass( 'matrixHighlight' );
          $( table.row( rowIdx ).nodes() ).addClass( 'matrixHighlight' );
      } ).on('mouseleave', 'td', function () {
          $( table.cells().nodes() ).removeClass( 'matrixHighlight' );
          $( table.rows().nodes() ).removeClass( 'matrixHighlight' );
      });
} );
</script>
