---
layout: default
type: Match
---
<header>
  <div align="center" id="matchHeaderStats">
    {% if page.TeamA.RoundsWon > page.TeamB.RoundsWon %} 
      {% assign scoreAClass = "scoreWinner"%} 
      {% assign scoreBClass = "scoreLoser" %} 
    {% elsif page.TeamA.RoundsWon < page.TeamB.RoundsWon%} 
      {% assign scoreAClass="scoreLoser" %} 
      {% assign scoreBClass="scoreWinner" %} 
    {% else %} 
      {% assign scoreAClass="scoreTie" %} 
      {% assign scoreBClass="scoreTie" %} 
    {% endif %} 
    <div id="teamAHeader"><br>
      <h2>{{ page.TeamA.Name | default: "Team A" }}</h2>
      <span style="font-size: 24px;" class="{{scoreAClass}}">{{page.TeamA.RoundsWon}}</span>
    </div>
    <div id="teamStatsHeader">
      <br>
      {% assign monthString = page.Year | append: "-" | append: page.Month | append: "-" | append: page.Day | append: "T" | append: page.Hour | append: ":00:00" %}
      <h1>{{monthString | date: "%H"}}:00</h1>
      {{monthString | date: "%B "}}
        {% assign d = monthString | date: "%-d" %}
        {% case d %}
          {% when "1" or "21" or "31" %}{{ d }}st
          {% when "2" or "22" %}{{ d }}nd
          {% when "3" or "23" %}{{ d }}rd
          {% else %}{{ d }}th
        {% endcase %} 
        {{monthString | date: ", %Y"}}
    </div>
    <div id="teamBHeader"><br>
      <h2>{{ page.TeamB.Name | default: "Team B" }}</h2>
      <span style="font-size: 24px;" class="{{scoreBClass}}">{{page.TeamB.RoundsWon}}</span>
    </div>
  </div>
</header>	  
{% assign rounds = page.TotalRounds %}
{% include teamstattable.html totalRounds=rounds players=page.Players teamIDs=page.TeamA.SteamIDs teamname=page.TeamA.Name %}
{% include teamstattable.html totalRounds=rounds players=page.Players teamIDs=page.TeamB.SteamIDs teamname=page.TeamB.Name %}

<div align="center">
  <table id="matrix" class="row-border hover order-column">
    <thead>
      <tr class="header" id="ignoreglobal">
        <th></th>
        {% for teamBPlayer in page.TeamB.SteamIDs %}
          {% assign teamBPlayerID = teamBPlayer | downcase %}
          {% assign uid = page.Players[teamBPlayerID].UID %}
          {% assign name = page.Players[teamBPlayerID].Name %}
          {% for sPlayer in site.data.players %}
            {% assign tSteamID = sPlayer.SteamID | downcase %}
            {% if tSteamID == teamBPlayerID %}
              {% assign uid = sPlayer.UID %}
              {% assign name = sPlayer.Name %}
              {% break %}
            {% endif %}
          {% endfor %}
          <th class="col" style="text-align: center"><a href="/players/{{uid}}">{{name}}</a></th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for teamAPlayer in page.TeamA.SteamIDs %}
          {% assign teamAPlayerID = teamAPlayer | downcase %}
          {% assign uid = page.Players[teamAPlayerID].UID %}
          {% assign name = page.Players[teamAPlayerID].Name %}
          {% for sPlayer in site.data.players %}
            {% assign tSteamID = sPlayer.SteamID | downcase %}
            {% if tSteamID == teamAPlayerID %}
              {% assign uid = sPlayer.UID %}
              {% assign name = sPlayer.Name %}
              {% break %}
            {% endif %}
          {% endfor %}        
          <tr id="ignoreglobal">
          <th class="row" style="text-align: right"><a href="/players/{{uid}}">{{name}}</a></th>
          {% for teamBPlayer in page.TeamB.SteamIDs %}
            {% assign teamBPlayerID = teamBPlayer | downcase %}
            <td style="text-align: center">{{page.Players[teamAPlayerID].KilledPlayers[teamBPlayerID] | default: 0}} : {{page.Players[teamBPlayerID].KilledPlayers[teamAPlayerID] | default: 0}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <div align="center">
  <table class="halfTable row-border hover order-column">
    <tr>
        <th style="text-align: center">Execute Order 66</th>
        {% assign steamid = page.Awards.ExecuteOrder66.SteamID | downcase %}
        <td style="text-align: center"><a href="/players/{{page.Players[steamid].UID}}">{{ page.Players[steamid].Name | default: "N/A" }}</a></td>
    </tr>
    <tr>
        <th style="text-align: center">The Kendoll</th>
        {% assign steamid = page.Awards.TheKendoll.SteamID | downcase %}
        <td style="text-align: center"><a href="/players/{{page.Players[steamid].UID}}">{{ page.Players[steamid].Name | default: "N/A" }}</a></td>
    </tr>
    <tr>
        <th style="text-align: center">Terminator</th>
        {% assign steamid = page.Awards.Terminator.SteamID | downcase %}
        <td style="text-align: center"><a href="/players/{{page.Players[steamid].UID}}">{{ page.Players[steamid].Name | default: "N/A" }}</a></td>
    </tr>
    <tr>
        <th style="text-align: center">The Professional</th>
        {% assign steamid = page.Awards.TheProfessional.SteamID | downcase %}
        <td style="text-align: center"><a href="/players/{{page.Players[steamid].UID}}">{{ page.Players[steamid].Name | default: "N/A" }}</a></td>
    </tr>
    <tr>
        <th style="text-align: center">Lending Hand</th>
        {% assign steamid = page.Awards.LendingHand.SteamID | downcase %}
        <td style="text-align: center"><a href="/players/{{page.Players[steamid].UID}}">{{ page.Players[steamid].Name | default: "N/A" }}</a></td>
    </tr>
    <tr>
        <th style="text-align: center">The Assasin</th>
        {% assign steamid = page.Awards.TheAssasin.SteamID | downcase %}
        <td style="text-align: center"><a href="/players/{{page.Players[steamid].UID}}">{{ page.Players[steamid].Name | default: "N/A" }}</a></td>
    </tr>
    <tr>
        <th style="text-align: center">The Entry</th>
        {% assign steamid = page.Awards.TheEntry.SteamID | downcase %}
        <td style="text-align: center"><a href="/players/{{page.Players[steamid].UID}}">{{ page.Players[steamid].Name | default: "N/A" }}</a></td>
    </tr>
    <tr>
        <th style="text-align: center">Clutch Master</th>
        {% assign steamid = page.Awards.ClutchMaster.SteamID | downcase %}
        <td style="text-align: center"><a href="/players/{{page.Players[steamid].UID}}">{{ page.Players[steamid].Name | default: "N/A" }}</a></td>
    </tr>
    <tr>
        <th style="text-align: center">Trade Craft</th>
        {% assign steamid = page.Awards.TradeCraft.SteamID | downcase %}
        <td style="text-align: center"><a href="/players/{{page.Players[steamid].UID}}">{{ page.Players[steamid].Name | default: "N/A" }}</a></td>
    </tr>
    <tr>
        <th style="text-align: center">Frag Bait</th>
        {% assign steamid = page.Awards.FragBait.SteamID | downcase %}
        <td style="text-align: center"><a href="/players/{{page.Players[steamid].UID}}">{{ page.Players[steamid].Name | default: "None" }}</a></td>
    </tr>
  </table>
</div> 
<script>
  var table = $('#awardTable').DataTable(
    {
      "paging":   false,
      "ordering": false,
      "info":     false,
      "searching":   false
    }
  );
</script>
<script>
$(document).ready(function() {
  var table = $('#matrix').DataTable(
    {
      "paging":   false,
      "ordering": false,
      "info":     false,
      "searching":   false
    }
  );
  
  $('#matrix tbody')
      .on( 'mouseenter', 'td', function () {
          var colIdx = table.cell(this).index().column;
          var rowIdx = table.cell(this).index().row;

          $( table.column( colIdx ).nodes() ).addClass( 'highlight' );
          $( table.row( rowIdx ).nodes() ).addClass( 'highlight' );
      } ).on('mouseleave', 'td', function () {
          $( table.cells().nodes() ).removeClass( 'highlight' );
          $( table.rows().nodes() ).removeClass( 'highlight' );
      });
} );
</script>
