---
layout: default_new
type: Player
---
<style>

#overview, #matches, #stats, #weapons, #clutches {
  display: none;
}

.container {
  width: 85%;
}

.card {
  height: 120px !important;
  border-radius: 8px;
  border: 1px solid black;
}

.card-image {
  min-width: 120px;
}

.card-content {
  width: 100%;
  max-height: 100% !important;
  font-size: 200%;
}
.card-image img {
  min-width: 120px;
  border-radius: 7px 0 0 7px !important;
}
</style>

{% assign Kills = page.Kills | times: 1.0 %}
{% assign Rounds = page.Rounds | times: 1.0 %}
{% assign KDRatio = Kills | divided_by: page.Deaths | round: 2 %}
{% assign TDamage = page.HealthDamage | plus: page.ArmorDamage %}

{% if page.Rounds == 0 %}
  {% assign ADR = 0 %}
  {% assign KPR = 0 %}
  {% assign APR = 0 %}
  {% assign DPR = 0 %}
{% else %}
  {% assign ADR = TDamage | divided_by: Rounds | round: 2 %}
  {% assign KPR = page.Kills | divided_by: Rounds | round: 2 %}
  {% assign APR = page.Assists | divided_by: Rounds | round: 2 %}
  {% assign DPR = page.Deaths | divided_by: Rounds | round: 2 %}
{% endif %}

{% if page.Kills == 0 %}
  {% assign HSPercentage = 0 %}
{% else %}
  {% assign HSPercentage = page.Headshots | divided_by: Kills | times: 100 | round: 2 %}
{% endif %}

<script src="/assets/js/bigtext.js"></script>
<div class="container">
<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card hoverable horizontal small">
      <div class="card-image">
        <img src="{{site.data.playerAvatars[page.UID]}}" class="playerImage">
      </div>
      <div class="card-content">
        <p class="center-align" id="playerName">{{page.Name}}</p>
      </div>
    </div>
  </div>
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#overview">Overview</a></li>
      <li class="tab col s2"><a href="#matches">Matches</a></li>
      <li class="tab col s2"><a href="#stats">Statistics</a></li>
      <li class="tab col s3"><a href="#weapons">Weapon Charts</a></li>
      <li class="tab col"><a href="#clutches">Clutches</a></li>
    </ul>
  </div>
  <!-- Overview -->
  <div id="overview" class="col s12">
    <table class="col s4 offset-s1 responsive-table bordered">
      <tr>
        <th>Kills:</th>
        <td class="right-align">{{page.Kills}}</td>
      </tr>
      <tr>
        <th>Deaths:</th>
        <td class="right-align">{{page.Deaths}}</td>
      </tr>
      <tr>
        <th>Headshot %:</th>
        <td class="right-align">{{HSPercentage}}</td>
      </tr>
      <tr>
        <th>K/D:</th>
        <td class="right-align">{{KDRatio}}</td>
      </tr>
      <tr>
        <th>Damage:</th>
        <td class="right-align">{{TDamage}}</td>
      </tr>
      <tr>
        <th>Matches:</th>
        <td class="right-align">{{page.Matches | size}}</td>
      </tr>
      <tr>
        <th>Rounds:</th>
        <td class="right-align">{{page.Rounds}}</td>
      </tr>
    </table>
    <div class="col s2"></div>
    <table class="col s4 responsive-table bordered">
      <tr>
        <th>Hltv Rating:</th>
        <td class="right-align">{{page.HltvRating}}</td>
      </tr>
      <tr>
        <th>Kills/Round:</th>
        <td class="right-align">{{KPR}}</td>
      </tr>
      <tr>
        <th>Assists/Round:</th>
        <td class="right-align">{{APR}}</td>
      </tr>
      <tr>
        <th>Deaths/Round:</th>
        <td class="right-align">{{DPR}}</td>
      </tr>
      <tr>
       <th>Damage/Round:</th>
        <td class="right-align">{{ADR}}</td>
      </tr>
      <tr>
        <th>Trade Kills:</th>
        <td class="right-align">{{page.TradeKills}}</td>
      </tr>
      <tr>
        <th>Trade Deaths:</th>
        <td class="right-align">{{page.TimesTraded}}</td>
      </tr>
    </table>
  </div>
  <!-- Matches -->
  <div id="matches" class="col s12">
  </div>
  <!-- Statistics -->
  <div id="stats" class="col s12">
  </div>
  <!-- Weapons -->
  <div id="weapons" class="col s12">
  </div>
  <!-- Clutches -->
  <div id="clutches" class="col s12">
  </div>
</div>
<script>
$(document).ready(function()
{
  var id = $('.tab > .active').attr('href');

  if (id)
    $(id).show();
  else
    $('.tab:first').addClass('active');

  // fix font width
  console.log($(".card").width() + " " + $(".card-content").width());
});
</script>