---
layout: default
type: Player
---
<style>
.playerCardContainer {
  position: relative;
  width: 590px;
  margin-bottom: 140px;
}
.playerCardContainer img {
  position: absolute;
  top: 0px;
  left: 110px;
  z-index: 101;
  border-radius: 8px;
  border: 2px solid black;
}

#playerName {
  font-size: 64px;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  padding-left: 10px;
  display: none;
}

#playerNameDiv {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

#playerBackground{
  border-radius: 8px;
  position: absolute;
  width:480px;
  height:110px;
  top: 5px;
  left: 200px;
  background:white;
  display: table;
  table-layout:fixed;
  white-space: nowrap;
}
</style>
<div class="playerCardContainer" align="center">
  {% assign steamid = page.SteamID | downcase %}
  <div id="playerBackground"><div id="playerNameDiv"><font id="playerName">{{page.Name}}</font></div></div>
  <img src="{{site.data.playerAvatars[steamid]}}" class="playerAvatar" width="118" height="118"/>
</div>
<button class="accordion">Matches ({{ page.Matches | size }})</button>
<div class="panel">
    <ul>
      {% for match in page.Matches %}
        <li><a href="/matches/{{match}}">{{match}}</a>
      {% endfor %}
    </ul>
</div>
<br>
<table style="float: left" id="table_{{page.SteamID}}_1" class="halfTable">
    <tr>
      <th style="text-align: center">Kills</th>
      <!-- Kills -->				
      <td markdown="span" style="text-align: center">{{page.Kills | default: 0 | round: 0 }}</td>
    </tr>
    <tr>
      <th style="text-align: center">Assists</th>
      <!-- Assists -->
      <td markdown="span" style="text-align: center">{{page.Assists | default: 0 }}</td>
    </tr>
    <tr>
      <th style="text-align: center">Deaths</th>
      <!-- Deaths -->
      <td markdown="span" style="text-align: center">{{page.Deaths | default: 0 }}</td>
    </tr>
    <tr>
      <th style="text-align: center">KAST %</th>
      <!-- KAST % -->
      {% if page.TotalRounds == 0 %}
        {% assign KASTPercentage = 0 %}
      {% else %}
        {% assign TotalRounds = page.TotalRounds | times: 1.0 %}
        {% assign KASTPercentage = page.KASTRounds | divided_by: TotalRounds | times: 100 | round: 2 %}
      {% endif %}
      <td markdown="span" style="text-align: center">{{KASTPercentage}}%</td>
    </tr>
    <tr>
      <th style="text-align: center">ADR</th>
      <!-- ADR -->
      {% if page.TotalRounds == 0 %}
        {% assign ADR = 0 %}
      {% else %}
        {% assign ADR = page.DamageDealt | divided_by: page.TotalRounds | round: 2 %}
      {% endif %}
      <td markdown="span" style="text-align: center">{{ADR}}</td>
    </tr>
    <tr>
      <th style="text-align: center">KD Diff</th>
      <!-- K/D Diff -->
      {% assign kdDiff = page.Kills | minus: page.Deaths %}
      {% if kdDiff > 0 %}
        {% assign kdDiffClass = "kdDiffPositive" %}
        {% assign kdSign = "+" %}
      {% elsif kdDiff < 0 %}
        {% assign kdDiffClass = "kdDiffNegative" %}
        {% assign kdSign = "" %}
      {% else %}
        {% assign kdDiffClass = "kdDiffNone" %}
        {% assign kdSign = "" %}
      {% endif %}
      <td markdown="span" style="text-align: center" class={{kdDiffClass}}>{{kdSign}}{{kdDiff | default: 0}}</td>
    </tr>
    <tr>
      <th style="text-align: center">Headshot %</th>
      <!-- Headshots % -->
      {% if page.Kills == 0 %}
        {% assign HSPercentage = 0 %}
      {% else %}
        {% assign Kills = page.Kills | times: 1.0 %}
        {% assign HSPercentage = page.Headshots | divided_by: Kills | times: 100 | round: 2 %}
      {% endif %}
      <td markdown="span" style="text-align: center">{{HSPercentage}}%</td>
    </tr>
    <tr>
      <th style="text-align: center">Plants</th>
      <!-- Plants -->
      <td markdown="span" style="text-align: center">{{page.Plants | default :0}}</td>
    </tr>
    <tr>
      <th style="text-align: center">Defuses</th>
      <!-- Defuses -->
      <td markdown="span" style="text-align: center">{{page.Defuses | default: 0}}</td>
    </tr>
    <tr>
      <th style="text-align: center">MVPs</th>
      <!-- MVPs -->
      <td markdown="span" style="text-align: center">{{page.MVPs | default: 0}}</td>
    </tr>
</table>
<table id="table_{{SteamID}}_2" class="halfTable">
    <tr>
      <th style="text-align: center">Team Kills</th>
      <!-- TKs -->
      <td markdown="span" style="text-align: center">{{page.TeamKills | default: 0}}</td>
    </tr>
    <tr>
      <th style="text-align: center">AWP Kills</th>
      <!-- AWP Kills -->
      <td markdown="span" style="text-align: center">{{page.AWPKills | default: 0}}</td>
    </tr>
    <tr>
      <th style="text-align: center">Damage Dealt</th>
      <!-- Damage Dealt -->
      <td markdown="span" style="text-align: center">{{page.DamageDealt | default: 0}}</td>
    </tr>
    <tr>
      <th style="text-align: center">First Kills</th>
      <!-- First Kills -->
      <td markdown="span" style="text-align: center">{{page.FirstKills | default: 0}}</td>
    </tr>
    <tr>
      <th style="text-align: center">First Deaths</th>
      <!-- First Deaths -->
      <td markdown="span" style="text-align: center">{{page.FirstDeaths | default: 0}}</td>
    </tr>
    <tr>
      <th style="text-align: center">1K Rounds</th>
      <!-- 1Ks -->
      <td markdown="span" style="text-align: center">{{page.KillPerRound["1"] | default:"0"}}</td>
    </tr>
    <tr>
      <th style="text-align: center">2K Rounds</th>
      <!-- 2Ks -->
      <td markdown="span" style="text-align: center">{{page.KillPerRound["2"] | default:"0"}}</td>
    </tr>
    <tr>
      <th style="text-align: center">3K Rounds</th>
      <!-- 3Ks -->
      <td markdown="span" style="text-align: center">{{page.KillPerRound["3"] | default:"0"}}</td>
    </tr>
    <tr>
      <th style="text-align: center">4K Rounds</th>
      <!-- 4Ks -->
      <td markdown="span" style="text-align: center">{{page.KillPerRound["4"] | default:"0"}}</td>
    </tr>
    <tr>
      <th style="text-align: center">5K Rounds</th>
      <!-- 5Ks -->
      <td markdown="span" style="text-align: center">{{page.KillPerRound["5"] | default:"0"}}</td>
    </tr>
</table>            
<button class="accordion">Kill Matrix</button>
<div class="panel" align="left">
  {% assign length = site.data.players | size | minus: 1 %}
  {% assign halfLen = length | divided_by: 2 | ceil %}
  {% assign leftLen = length | minus: halfLen %}
  <table id="matrix" class="row-border hover order-column">
    <thead>
      <tr class="header" id="ignoreglobal">
        <th style="text-align: center">Name</th>
        <th style="text-align: center">Killed:KilledBy</th>
      </tr>
    </thead>
    <tbody>
        {% assign sortedPlayers = site.data.players | sort_natural: 'Name' %}
        {% for player in sortedPlayers %}
        {% unless player.SteamID == page.SteamID %}
        <tr id="ignoreglobal">
          <td class="row" style="text-align: center"><a href="/players/{{player.UID}}">{{player.Name}}</a></td>
            {% assign steamid = player.SteamID | downcase %}
            {% assign myid = page.SteamID | downcase %}
            <td style="text-align: center">{{page.KilledPlayers[steamid] | default: 0}} : {{player.KilledPlayers[myid] | default: 0}}</td>
        </tr>
        {% endunless %}
        {% endfor %}
    </tbody>
  </table>
</div>
<script>
$(document).ready(function() {
  var table = $('#matrix').DataTable(
    {
      "paging":   false,
      "ordering": false,
      "info":     false,
      "searching": false
    }
  );
  
  $('#matrix tbody')
      .on( 'mouseenter', 'td', function () {
          var rowIdx = table.cell(this).index().row;

          $( table.row( rowIdx ).nodes() ).addClass( 'highlight' );
      } ).on('mouseleave', 'td', function () {
          $( table.rows().nodes() ).removeClass( 'highlight' );
      });

  while($("#playerBackground").find("font").width() > $("#playerBackground").width() - 60) {
      var currentFontSize = parseInt($("#playerBackground").find("font").css("font-size"));
      if (currentFontSize == 0 || currentFontSize == "0") break;
      $("#playerBackground").find("font").css("font-size",currentFontSize-1); 
  }

  $("#playerBackground").find("font").css("display", "initial");
} );
</script>